/* vendors */
@import 'vendors/splide-core';

/* base */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';
@import 'base/controls';

/* layouts */
@import 'layouts/default';

/* blocks */
@import 'blocks/header';
@import 'blocks/header-nav';
@import 'blocks/header-catalog';
@import 'blocks/breadcrumbs';
@import 'blocks/pagination';
@import 'blocks/split';
@import 'blocks/products';
@import 'blocks/product-preview';
@import 'blocks/services';
@import 'blocks/advantages';
@import 'blocks/reviews';
@import 'blocks/review';
@import 'blocks/youtube-video';
@import 'blocks/payment-example';
@import 'blocks/suppliers';
@import 'blocks/articles';
@import 'blocks/article';
@import 'blocks/article-preview';
@import 'blocks/measure';
@import 'blocks/installment';
@import 'blocks/calcs';
@import 'blocks/calc-roof';
@import 'blocks/payment';
@import 'blocks/delivery';
@import 'blocks/contacts';
@import 'blocks/social';
@import 'blocks/photo-gallery';
@import 'blocks/video-gallery';
@import 'blocks/footer';

@import 'pages/index';

a:active
{
	color: inherit;
}

picture
{
	display: block;
}

iframe
{
	outline: none;
	border: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	height: 100%;
}

body
{
	min-width: 320px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	&.hidden
	{
		overflow: hidden;
	}

	@media (max-width: 1199px)
	{
		padding-top: 63px;
	}

	@media (max-width: 767px)
	{
		padding-top: 56px;
	}
}

// for sticky footer
.header, .footer
{
	flex: 0 0 auto;
}

.wrapper
{
	flex: 1 0 auto;
}

.container
{
	margin: 0 auto;
	padding: 0 15px;
	width: 1200px;
	max-width: 100%;
	height: 100%;

	@media (max-width: 1023px)
	{
		width: 734px;
		padding: 0 10px;
	}

	@media (max-width: 767px)
	{
		width: 100%;
		padding: 0 15px;
	}
}

.desktop-only
{
	display: block;

	@media (max-width: 767px)
	{
		display: none;
	}
}

.mobile-only
{
	display: none;

	@media (max-width: 767px)
	{
		display: block;
	}
}

.g-show-more
{
	display: flex;
	justify-content: center;
	cursor: pointer;

	&.is-active
	{
		.g-show-more__icon-more, .g-show-more__text-more
		{
			display: none;
		}

		.g-show-more__icon-less, .g-show-more__text-less
		{
			display: block;
		}
	}
}

.g-show-more__icon
{
	width: 16px;
	height: 16px;
	margin-right: 8px;
	font-size: 0;
	position: relative;
	top: 2px;

	img
	{
		width: 100%;
		height: 100%;
	}
}

.g-show-more__icon-less, .g-show-more__text-less
{
	display: none;
}

.g-show-more__text
{
	color: $red;
	font-size: 15px;
	line-height: 1.45;
	padding-bottom: 3px;
	border-bottom: 1px dashed $red;
}

.more
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;

	.g-show-more
	{
		margin-bottom: 15px;
	}
}

.more__note
{
	color: rgba($black, .4);
	margin-bottom: 45px;
}

@media (max-width: 767px)
{
	.g-show-more__icon
	{
		top: 0;
	}

	.g-show-more__text
	{
		font-size: 13px;
	}

	.more
	{
		margin-bottom: 30px;

		.g-show-more
		{
			margin-bottom: 10px;
		}
	}

	.more__note
	{
		font-size: 13px;
		line-height: 1.45;
		margin-bottom: 15px;
	}
}