/* vendors */
// @import 'vendors/slick';
// @import 'vendors/slick-theme';

/* base */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';
@import 'base/controls';

/* layouts */
@import 'layouts/default';

/* blocks */
@import 'blocks/header';
@import 'blocks/header-nav';
@import 'blocks/header-catalog';
@import 'blocks/breadcrumbs';
@import 'blocks/articles';
@import 'blocks/article';
@import 'blocks/article-preview';
@import 'blocks/measure';
@import 'blocks/installment';
@import 'blocks/calcs';
@import 'blocks/payment';
@import 'blocks/footer';

@import 'pages/index';

a:active
{
	color: inherit;
}

picture
{
	display: block;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	height: 100%;
}

body
{
	min-width: 320px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	&.hidden
	{
		overflow: hidden;
	}

	@media (max-width: 1199px)
	{
		padding-top: 63px;
	}

	@media (max-width: 767px)
	{
		padding-top: 56px;
	}
}

// for sticky footer
.header, .footer
{
	flex: 0 0 auto;
}

.wrapper
{
	flex: 1 0 auto;
}

.container
{
	margin: 0 auto;
	padding: 0 15px;
	width: 1200px;
	max-width: 100%;
	height: 100%;

	@media (max-width: 1023px)
	{
		width: 734px;
	}

	@media (max-width: 767px)
	{
		width: 100%;
	}
}