.breadcrumbs
{
	margin-bottom: 10px;

	.container
	{
		display: flex;
	}
}

.breadcrumbs__item
{
	color: $blue;
	font-size: 15px;
	line-height: 1.45;

	&:not(:last-child)
	{
		margin-right: 12px;

		&::after
		{
			content: '>';
			margin-left: 12px;
		}
	}

	&:last-child
	{
		color: $black;
		cursor: text;
		pointer-events: none;
	}
}