.catalog__title
{
	margin-bottom: 20px;
}

.catalog__wrap
{
	display: flex;
}

.catalog__sidebar
{
	flex-basis: 270px;
	max-width: 270px;
	margin-right: 20px;
	flex-shrink: 0;
}

.catalog__products
{
	flex-grow: 1;

	&--previews
	{
		margin: 0 -15px 30px;

		.catalog__products-list
		{
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.catalog__products-list
{
	width: 100%;
	margin-bottom: 30px;
}

.catalog__product
{
	flex-basis: calc(100% / 3);
	max-width: calc(100% / 3);
	padding: 0 15px;
	margin-bottom: 15px;
}

.catalog__filter-controls
{
	display: none;
}

@media (max-width: 1099px)
{
	.catalog__wrap
	{
		flex-wrap: wrap;
	}

	.catalog__filter-controls
	{
		display: flex;
		margin-bottom: 15px;

		.g-btn-transp:first-child
		{
			margin-right: 20px;
		}

		.g-btn-transp:last-child
		{
			min-width: 280px;
		}
	}

	.catalog__sidebar
	{
		flex-basis: 518px;
		max-width: 518px;
	}
}

@media (max-width: 767px)
{
	.catalog__filter-controls
	{
		flex-wrap: wrap;
		margin-bottom: 0;

		.g-btn-transp
		{
			height: 42px;
			width: 100%;
			margin-bottom: 8px;
			font-size: 14px;
		}

		.g-btn-transp--arrow::after
		{
			top: 12px;
		}

		.g-btn-transp:first-child
		{
			margin-right: 0;
		}

		.g-btn-transp:last-child
		{
			min-width: unset;
		}
	}

	.catalog__sidebar
	{
		margin-right: 0;
		max-width: 100%;
	}

	.catalog__products
	{
		margin: 0 -6px 15px;
	}

	.catalog__product
	{
		flex-basis: 50%;
		max-width: 50%;
		padding: 0 6px;
		margin-bottom: 10px;
	}
}