.payment-example
{
	display: none;
	padding: 100px 0 80px;
}

.payment-example
{
	margin-bottom: 50px;
}

.payment-example__wrap
{
	display: flex;
}

.payment-example__img
{
	flex-basis: 340px;
	max-width: 340px;
	margin-right: 85px;
}