<section class="advantages">
	<div class="container">
		<h2 class="advantages__title">
			Наши преимущества
		</h2>

		<div class="advantages__items _advantages">
			<div class="advantages__item">
				<div class="advantages__item-icon">
					<img src="./img/icons/advantage1.svg" alt="">
				</div>
	
				<div class="advantages__item-text">
					<div class="advantages__item-title">
						Заключаем договор
					</div>
		
					<div class="advantages__item-descr">
						<mark>Заключаем договор</mark> с юридическим лицом. Прежде, чем полностью оплатить услуги, вы подписываете акт выполненных работ
					</div>
				</div>
			</div>

			<div class="advantages__item">
				<div class="advantages__item-icon">
					<img src="./img/icons/advantage2.svg" alt="">
				</div>
	
				<div class="advantages__item-text">
					<div class="advantages__item-title">
						Работаем без посредников
					</div>
		
					<div class="advantages__item-descr">
						Мы работаем <mark>напрямую</mark> с заводами <br class="desktop-only"> без посредников — вы экономите. <br class="desktop-only"> Свое производство комплектующих
					</div>
				</div>
			</div>

			<div class="advantages__item">
				<div class="advantages__item-icon">
					<img src="./img/icons/advantage3.svg" alt="">
				</div>
	
				<div class="advantages__item-text">
					<div class="advantages__item-title">
						Даем гарантию
					</div>
		
					<div class="advantages__item-descr">
						Все гарантии прописаны. Гарантия на материалы до 50 лет, на работы <br class="desktop-only"> <mark>— 3 года</mark>
					</div>
				</div>
			</div>

			<div class="advantages__item">
				<div class="advantages__item-icon">
					<img src="./img/icons/advantage4.svg" alt="">
				</div>
	
				<div class="advantages__item-text">
					<div class="advantages__item-title">
						Большой опыт
					</div>
		
					<div class="advantages__item-descr">
						<mark>Более 1800</mark> сданных объектов за 12 лет. Накоплен колоссальный опыт, учились на своих ошибках, все исправляли
					</div>
				</div>
			</div>

			<div class="advantages__item">
				<div class="advantages__item-icon">
					<img src="./img/icons/advantage5.svg" alt="">
				</div>
	
				<div class="advantages__item-text">
					<div class="advantages__item-title">
						Материалы в офисе
					</div>
		
					<div class="advantages__item-descr">
						Огромное количество <mark>стендов в офисе</mark> — можно наглядно заранее увидеть все материалы и выбрать понравившийся
					</div>
				</div>
			</div>

			<div class="advantages__item">
				<div class="advantages__item-icon">
					<img src="./img/icons/advantage6.svg" alt="">
				</div>
	
				<div class="advantages__item-text">
					<div class="advantages__item-title">
						Надежные сотрудники
					</div>
		
					<div class="advantages__item-descr">
						Все монтажники — местные, с опытом работы <mark>от 7 лет</mark>
					</div>
				</div>
			</div>
		</div>

		<button class="g-show-more" onclick="global.toggle(this, '._advantages')">
			<span class="g-show-more__icon">
				<img src="./img/icons/more.svg" class="g-show-more__icon-more" alt="">
				<img src="./img/icons/less.svg" class="g-show-more__icon-less" alt="">
			</span>

			<span class="g-show-more__text">
				<span class="g-show-more__text-more">Показать еще 2 преимущества</span>
				<span class="g-show-more__text-less">Скрыть</span>
			</span>
		</button>

		<div class="advantages__stats">
			<div class="advantages__stat">
				<div class="advantages__stat-digit">
					12 лет
				</div>

				<div class="advantages__stat-descr">
					работы <br class="mobile-only"> на рынке
				</div>
			</div>

			<hr class="advantages__stats-devider">

			<div class="advantages__stat">
				<div class="advantages__stat-digit">
					50 лет
				</div>

				<div class="advantages__stat-descr">
					гарантии на <br class="mobile-only"> материалы
				</div>
			</div>

			<hr class="advantages__stats-devider">

			<div class="advantages__stat">
				<div class="advantages__stat-digit">
					98,4 %
				</div>

				<div class="advantages__stat-descr">
					положительных <br class="mobile-only"> отзывов
				</div>
			</div>
		</div>
	</div>
</section>