<article class="article-preview">
	<div class="article-preview__img">
		<picture>
			<source type="image/webp"
					data-srcset="./img/articles/previews/article-placeholder.webp 1x,
					./img/articles/previews/article-placeholder@2x.webp 2x">

			<img data-srcset="./img/articles/previews/article-placeholder.jpg 1x,
						./img/articles/previews/article-placeholder@2x.jpg 2x"
					
				data-src="./img/articles/previews/article-placeholder.jpg" alt="" class="lazyload">
		</picture>
	</div>

	<div class="article-preview__date">
		14.11.2020
	</div>

	<a href="#" class="article-preview__title">
		Меры безопасности во время действия коронавирусной инфекции COVID-19
	</a>

	<div class="article-preview__descr">
		С 13 апреля 2020 года с праварап правительства Тюменской области мы возобновили работу С 13 апреля 2020 года с праварап правительства Тюменской области мы возобновили работу
	</div>

	<a href="#" class="g-link">
		Подробнее

		<span class="g-link__icon">
			{% include "../../img/icons/next.svg" %}
		</span>
	</a>
</article>