<article class="catalog-product _catalogProduct">
	<div class="catalog-product__wrap">
		<div class="catalog-product__gallery">
			<div class="_catalogProductSlider catalog-product__slider splide">
				<div class="splide__arrows splide__arrows--product">
					<button class="splide__arrow splide__arrow--prev">
						{% include "../../img/icons/slider-arrow-white.svg" %}
					</button>
					<button class="splide__arrow splide__arrow--next">
						{% include "../../img/icons/slider-arrow-white.svg" %}
					</button>
				</div>

				<div class="splide__track">
					<div class="splide__list">
						{% for item in 0..2 %}
							<div class="splide__slide">
								<img data-splide-lazy="./img/productSlide1.jpg" alt="">
							</div>

							<div class="splide__slide">
								<img data-splide-lazy="./img/productSlide2.jpg" alt="">
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="catalog-product__color-wrap">
				<div class="catalog-product__color">
					<strong>Цвет:</strong> Винно-красный
				</div>
			</div>
		</div>

		<div class="catalog-product__details">
			<h3 class="catalog-product__title">Двуслойная гибкая черепица Mansion New Man</h3>

			<div class="_catalogProductThumbs product-thumbs">
				<ul class="product-thumbs__list">
					<li class="product-thumb is-active" role="button" tabindex="0">
						<img src="./img/thumb1.jpg" alt="Thumbnail 01">
					</li>

					<li class="product-thumb" role="button" tabindex="0">
						<img src="./img/thumb2.jpg" alt="Thumbnail 02">
					</li>

					<li class="product-thumb" role="button" tabindex="0">
						<img src="./img/thumb1.jpg" alt="Thumbnail 01">
					</li>

					<li class="product-thumb" role="button" tabindex="0">
						<img src="./img/thumb2.jpg" alt="Thumbnail 02">
					</li>

					<li class="product-thumb" role="button" tabindex="0">
						<img src="./img/thumb1.jpg" alt="Thumbnail 01">
					</li>

					<li class="product-thumb" role="button" tabindex="0">
						<img src="./img/thumb2.jpg" alt="Thumbnail 02">
					</li>
				</ul>
			</div>

			<div class="catalog-product__price-n-chars">
				<div class="product-price">
					<div class="product-price__current">
						от <span class="product-price__current-val">586</span> руб./м2
					</div>

					<div class="product-price__old">
						658 руб./м2
					</div>
				</div>

				<ul class="catalog-product__chars">
					<li class="catalog-product__char">
						<strong>Бренд:</strong> Grand Line Optima
					</li>

					<li class="catalog-product__char">
						<strong>Оттенков:</strong> 14
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="catalog-product__btns">
		<button class="g-btn-compare">
			<span class="g-btn-compare__icon">
				{% include "../../img/icons/stats.svg" %}
			</span>

			Сравнить
		</button>
		<button class="g-btn-transp">Подробнее</button>
		<button class="g-btn">
			<span class="g-btn__icon">
				<img src="./img/icons/calc-btn-icon.svg" alt="">
			</span>
			Быстрый расчет
		</button>
	</div>
</article>