<div class="_collectionCarousel collection-carousel splide">
	<div class="splide__arrows splide__arrows--centered">
		<button class="splide__arrow splide__arrow--prev">
			{% include "../../img/icons/slider-arrow.svg" %}
		</button>
		<button class="splide__arrow splide__arrow--next">
			{% include "../../img/icons/slider-arrow.svg" %}
		</button>
	</div>

	<div class="splide__track">
		<div class="splide__list">
			{% for 0 in 0..7 %}
				<div class="splide__slide">
					{% include "../blocks/product-preview.twig" %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>