{% block footer %}
<footer class="footer">
	<div class="container">
		<div class="footer__columns">
			<nav class="footer__column">
				<div class="footer__column-title">
					Каталог
				</div>

				<ul class="footer__column-list">
					<li class="footer__column-list-item">
						<a href="#">
							Фасадные материалы
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Кровельные материалы
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Заборы
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Снегозадержатели
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Водосточные системы
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Утеплители
						</a>
					</li>
				</ul>
			</nav>

			<nav class="footer__column">
				<div class="footer__column-title">
					Услуги
				</div>

				<ul class="footer__column-list">
					<li class="footer__column-list-item">
						<a href="#">
							Монтаж фасада
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Монтаж кровли
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Ремонт кровли
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Установка забора
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Замер
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Рассрочка без переплаты
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Гарантия
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Постгарантийное обслуживание
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="#">
							Оплата
						</a>
					</li>
				</ul>
			</nav>
			
			<div class="footer__column">
				<div class="footer__column-title">
					Контакты
				</div>

				<ul class="footer__column-list">
					<li class="footer__column-list-item">
						<div class="footer__column-list-item-icon">
							<img src="./img/icons/google-place.svg" alt="">
						</div>
						г. Тюмень, ул. Циолковского, 15а
					</li>

					<li class="footer__column-list-item">
						<div class="footer__column-list-item-icon">
							<img src="./img/icons/google-place.svg" alt="">
						</div>
						г. Тюмень, ул. Республики, д.207, <br> офис 1
					</li>

					<li class="footer__column-list-item">
						<a href="tel:+73452578617"></a>
							<div class="footer__column-list-item-icon">
								<img src="./img/icons/phone.svg" alt="">
							</div>
							
							8 (3452) 57-86-17
						</a>
					</li>

					<li class="footer__column-list-item">
						<a href="mailto:tfkk@yandex.ru"></a>
							<div class="footer__column-list-item-icon">
								<img src="./img/icons/mail.svg" alt="">
							</div>

							tfkk@yandex.ru
						</a>
					</li>

					<li class="footer__column-list-item footer__column-list-item--mobile">
						<a href="mailto:tfkk@yandex.ru" class="g-link g-link--underlined"></a>
							<div class="footer__column-list-item-icon">
								<img src="./img/icons/phone-transparent.svg" alt="">
							</div>

							Заказать звонок
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__column footer__column--mobile">
				<div class="footer__column-title">
					Социальные сети:
				</div>

				<div class="footer__links-social">
					<a href="#" class="footer__links-social-item">
						{% include "../../img/icons/fb.svg" %}
					</a>
	
					<a href="#" class="footer__links-social-item">
						{% include "../../img/icons/ig.svg" %}
					</a>
	
					<a href="#" class="footer__links-social-item">
						{% include "../../img/icons/yt.svg" %}
					</a>
	
					<a href="#" class="footer__links-social-item">
						{% include "../../img/icons/vk.svg" %}
					</a>
	
					<a href="#" class="footer__links-social-item">
						{% include "../../img/icons/vb.svg" %}
					</a>
	
					<a href="#" class="footer__links-social-item">
						{% include "../../img/icons/ok.svg" %}
					</a>
				</div>
			</div>
		</div>

		<nav class="footer__links">
			<a href="#" class="footer__links-item">
				Отзывы
			</a>

			<a href="#" class="footer__links-item">
				Фото объектов
			</a>

			<a href="#" class="footer__links-item">
				Видео
			</a>

			<a href="#" class="footer__links-item">
				Калькуляторы
			</a>

			<a href="#" class="footer__links-item">
				Доставка
			</a>

			<a href="#" class="footer__links-item">
				О компании
			</a>

			<div class="footer__links-social">
				<a href="#" class="footer__links-social-item">
					{% include "../../img/icons/fb.svg" %}
				</a>

				<a href="#" class="footer__links-social-item">
					{% include "../../img/icons/ig.svg" %}
				</a>

				<a href="#" class="footer__links-social-item">
					{% include "../../img/icons/yt.svg" %}
				</a>

				<a href="#" class="footer__links-social-item">
					{% include "../../img/icons/vk.svg" %}
				</a>

				<a href="#" class="footer__links-social-item">
					{% include "../../img/icons/vb.svg" %}
				</a>

				<a href="#" class="footer__links-social-item">
					{% include "../../img/icons/ok.svg" %}
				</a>
			</div>
		</nav>

		<div class="footer__bottom">
			<div class="footer__logo">
				<img src="./img/logo.png">

				<div class="footer__copy">
					Все права защищены 2008 — 2020. <br>
					<a href="#">Политика конфиденциальности</a>
				</div>

			</div>
			<div class="footer__about">
				Интернет-сайт тфкк.рф — официальный сайт ООО «Тюменская Фасадно - Кровельная Компания». Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости продукции ООО «Тюменская Фасадно - Кровельная Компания», пожалуйста, обращайтесь к менеджерам.
			</div>

			<a href="#" class="footer__callback g-link g-link--underlined">
				<div class="g-link__icon">
					{% include "../../img/icons/phone-transparent.svg" %}
				</div>

				Заказать звонок
			</a>
		</div>
	</div>
</footer>
{% endblock %}