<nav class="header-nav">
	<div class="container">
		<a href="#" class="header-nav__item">
			<span class="header-nav__item-icon">
				{% include "../../img/icons/photo.svg" %}
			</span>

			<span class="header-nav__item-text">
				Фото
			</span>
		</a>

		<a href="#" class="header-nav__item">
			<span class="header-nav__item-icon">
				{% include "../../img/icons/youtube.svg" %}
			</span>

			<span class="header-nav__item-text">
				Видео
			</span>
		</a>

		<a href="#" class="header-nav__item">
			<span class="header-nav__item-icon">
				{% include "../../img/icons/comment.svg" %}
			</span>

			<span class="header-nav__item-text">
				Отзывы
			</span>
		</a>

		<a href="#" class="header-nav__item">
			<span class="header-nav__item-icon">
				{% include "../../img/icons/calc.svg" %}
			</span>

			<span class="header-nav__item-text">
				Калькуляторы
			</span>
		</a>

		<a href="#" class="header-nav__item">
			<span class="header-nav__item-icon">
				{% include "../../img/icons/truck.svg" %}
			</span>

			<span class="header-nav__item-text">
				Доставка
			</span>
		</a>

		<a href="#" class="header-nav__item">
			<span class="header-nav__item-icon">
				{% include "../../img/icons/email.svg" %}
			</span>

			<span class="header-nav__item-text">
				Контакты
			</span>
		</a>

		<a href="mailto:tfkk@yandex.ru" class="header-nav__item header-nav__item--right">
			tfkk@yandex.ru
		</a>
	</div>
</nav>