<div class="scroll-top" onclick="global.scrollTop.topFunction();">
	{% include "../../img/icons/scrolltop.svg" %}
</div>
<div onclick="global.popups.closePopup();" class="overlay _overlay">

	<div onclick="event.stopPropagation();" class="popup popup__mounting _standartPopup">
		<div onclick="global.popups.closePopup();" class="popup__close _popupClose">
			{% include "../../img/icons/close.svg" %}
		</div>

		<div class="popup__title">
			Монтаж сайдинга
		</div>

		<div class="popup__desc">
			Наши бригады знают всё о том, как работать с сайдингом. Фасад прослужит вам долгие годы,
			т.к. специалисты учтут все нюансы и будут точно соблюдать технологию монтажа.
		</div>

		<div class="popup__phone">
			{% include "../../img/icons/phone.svg" %}<b>Телефон отдела монтажа:</b> <a href="">8 (3452) 57-47-10</a>
		</div>

		<div class="popup__desc">
			Оставьте заявку и <div class="red">получите скидку 5%</div> на монтаж сайдинга
		</div>

		<form action="" onsubmit="global.form.submit();" class="popup__form">
			<div class="popup__form-item">
				<div class="popup__form-sort">
					1
				</div>
				<div class="popup__form-right">
					<div class="popup__form-title">Введите имя</div>
					<input type="text" placeholder="Иван" value="Иван" class="popup__form-input error">
					<span class="text__error">текст ошибки длинный</span>
				</div>
			</div>
			<div class="popup__form-item">
				<div class="popup__form-sort">
					2
				</div>
				<div class="popup__form-right">
					<div class="popup__form-title">Ваш телефон</div>
					<input type="text" placeholder="+7 (943) 000 - 00 - 00" class="popup__form-input">
				</div>
			</div>
			<button class="g-btn">
				Заказать монтаж
			</button>
			<p>Нажимая на кнопку вы даете согласие на обработку персональных данных и соглашаетесь с Политикой конфиденциальности</p>
		</form>
	</div>

	<div onclick="event.stopPropagation();" class="popup popup__calc _callPopup">

		<div onclick="global.popups.closePopup();" class="popup__close _popupClose">
			{% include "../../img/icons/close.svg" %}
		</div>

		<div class="popup__title">
			Получите быстрый
			и точный <div class="red">расчет стоимости</div> вашей кровли
		</div>

		<form action="" onsubmit="global.form.submit();" class="popup__form">
			<div class="popup__form-item">
				<div class="popup__form-sort">
					1
				</div>
				<div class="popup__form-right">
					<div class="popup__form-title">Введите площадь кровли</div>
					<input type="text" placeholder="Например, 180 м кв" class="popup__form-input">
				</div>
			</div>
			<div class="popup__form-item">
				<div class="popup__form-sort">
					2
				</div>
				<div class="popup__form-right">
					<div class="popup__form-title">Материал</div>
					<div>Металлочерепица Монтеррей</div>
				</div>
			</div>
			<div class="popup__form-item">
				<div class="popup__form-sort">
					3
				</div>
				<div class="popup__form-right">
					<div class="popup__form-title">Считаем в комплекте с доборными элементами?</div>
					<div class="popup__form-wr">
						<div>
							<input class="g-checkbox__radio" id="radio1" type="radio" name="yes" checked>
							<label for="radio1">Да</label>
						</div>
						<div>
							<input class="g-checkbox__radio" id="radio2" type="radio" name="yes">
							<label for="radio2">Нет</label>
						</div>
					</div>
				</div>
			</div>
			<div class="popup__form-item">
				<div class="popup__form-sort">
					4
				</div>
				<div class="popup__form-right">
					<div class="popup__form-title">Ваш телефон</div>
					<input type="text" placeholder="+7 (943) 000 - 00 - 00" class="popup__form-input">
				</div>
			</div>
			<button class="g-btn">
				Получить расчет
			</button>
			<p>Нажимая на кнопку вы даете согласие на обработку персональных данных и соглашаетесь с Политикой конфиденциальности</p>
		</form>

	</div>

</div>