<div class="price-range">
	<div class="price-range__slider _priceRange"></div>

	<div class="price-range__inputs">
		<input type="text" class="price-range__input _priceMin" value="150">
		<div class="price-range__inputs-devider"></div>
		<input type="text" class="price-range__input _priceMax" value="1157">
	</div>
</div>