<div class="product-preview">
	<a class="product-preview__img" data-fslightbox href="./img/product-pholder.jpg">
		<img src="./img/product-pholder.jpg" data-splide-lazy="./img/product-pholder.jpg" alt="">
	</a>

	<div class="product__action">
		Акция
	</div>

	<a href="#" class="product-preview__title">
		Фиброцементный сайдинг Кедрал Клик (Cedral click)
	</a>

	<div class="product-preview__price">
		<div class="product-preview__price-old">
			1700 руб./шт.
		</div>

		<div class="product-preview__price-new">
			1700 руб./шт.
		</div>
	</div>

	<a href="#" class="g-btn">
		Посмотреть
	</a>


	<div class="product-preview__additional">
		<button class="g-btn-transp">
			Быстрый расчет
		</button>

		<div class="product-preview__thickness-title">Толщины:</div>

		<div class="product-preview__thickness">
			<span>0,4</span>

			<span>0,45</span>

			<span>0,5</span>
		</div>
	</div>
</div>