<article class="product _product">
	<div class="product__wrap">
		<div class="product__gallery">
			<div class="_productSlider product__slider splide">
				<div class="splide__arrows">
					<button class="splide__arrow splide__arrow--prev">
						{% include "../../img/icons/slider-arrow-white.svg" %}
					</button>
					<button class="splide__arrow splide__arrow--next">
						{% include "../../img/icons/slider-arrow-white.svg" %}
					</button>
				</div>
	
				<div class="splide__track">
					<div class="splide__list">
						{% for item in 0..2 %}	
							<div class="splide__slide">
								<img data-splide-lazy="./img/productSlide1.jpg" alt="">
							</div>
	
							<div class="splide__slide">
								<img data-splide-lazy="./img/productSlide2.jpg" alt="">
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
	
			<div class="product__color-wrap">
				<div class="product__color">
					<strong>Цвет:</strong> Винно-красный
				</div>
			</div>
		</div>
	
		<div class="product__details">
			<h3 class="product__title">Двуслойная гибкая черепица Mansion New Man</h3>
	
			<div class="_productThumbs product__thumbs">
				<ul class="product__thumbs-list">
					<li class="product__thumb is-active" role="button" tabindex="0">
						<img src="./img/thumb1.jpg" alt="Thumbnail 01">
					</li>
	
					<li class="product__thumb" role="button" tabindex="0">
						<img src="./img/thumb2.jpg" alt="Thumbnail 02">
					</li>
	
					<li class="product__thumb" role="button" tabindex="0">
						<img src="./img/thumb1.jpg" alt="Thumbnail 01">
					</li>
	
					<li class="product__thumb" role="button" tabindex="0">
						<img src="./img/thumb2.jpg" alt="Thumbnail 02">
					</li>
	
					<li class="product__thumb" role="button" tabindex="0">
						<img src="./img/thumb1.jpg" alt="Thumbnail 01">
					</li>
	
					<li class="product__thumb" role="button" tabindex="0">
						<img src="./img/thumb2.jpg" alt="Thumbnail 02">
					</li>
				</ul>
			</div>
	
			<div class="product__price-n-chars">
				<div class="product__price">
					<div class="product__price-current">
						от <span class="product__price-current-val">586</span> руб./м2
					</div>
	
					<div class="product__price-old">
						658 руб./м2
					</div>
				</div>
	
				<ul class="product__chars">
					<li class="product__char">
						<strong>Бренд:</strong> Grand Line Optima
					</li>
	
					<li class="product__char">
						<strong>Оттенков:</strong> 14
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="product__btns">
		<button class="product__compare">
			<span class="product__compare-icon">
				{% include "../../img/icons/stats.svg" %}
			</span>

			Сравнить
		</button>
		<button class="g-btn-transp">Подробнее</button>
		<button class="g-btn">
			<span class="g-btn__icon">
				<img src="./img/icons/calc-btn-icon.svg" alt="">
			</span>
			Быстрый расчет
		</button>
	</div>
</article>