<div class="review">
	<div class="review__gallery">
		<div class="review__gallery-primary">
			{% include "../blocks/youtube-video.twig" %}
		</div>

		<div class="review__gallery-secondary">
			<div class="review__gallery-item">
				<img data-src="./img/review-pholder.jpg" src="./img/pholder.svg" alt="" class="lazyload">
			</div>

			<div class="review__gallery-item">
				<img data-src="./img/review-pholder.jpg" src="./img/pholder.svg" alt="" class="lazyload">
			</div>

			<div class="review__gallery-item">
				<img data-src="./img/review-pholder.jpg" src="./img/pholder.svg" alt="" class="lazyload">
			</div>
		</div>
	</div>

	<div class="review__author">
		<i><span class="review__author-name">Сурина Н.В.</span> Тюменский район, СО “Тюменец”</i>
	</div>

	<ul class="review__info">
		<li>
			<strong class="review__info-type">Оценка:</strong>

			<div class="review__info-value">
				<div class="review__rate">
					{% for i in 0..4 %}	
						<div class="review__rate-star is-active">
							{% include "../../img/icons/star.svg" %}
						</div>
					{% endfor %}
				</div>
			</div>
		</li>

		<li>
			<strong class="review__info-type">Вид работ:</strong>

			<div class="review__info-value">
				строительство крыши и монтаж кровли
			</div>
		</li>

		<li>
			<strong class="review__info-type">Материалы:</strong>

			<div class="review__info-value review__info-value--long">
				<button class="g-show-more" onclick="global.toggle(this)">
					<span class="g-show-more__icon">
						<img src="./img/icons/more.svg" class="g-show-more__icon-more" alt="">
						<img src="./img/icons/less.svg" class="g-show-more__icon-less" alt="">
					</span>
		
					<span class="g-show-more__text">
						<span class="g-show-more__text-more">Показать еще</span>
						<span class="g-show-more__text-less">Скрыть</span>
					</span>
				</button>

				<div class="review__info-value-text">
					Фиброцементный сайдинг Кедрал, утеплитель Тизол EURO-Лайт 35, фасадные панели Стоунн Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro culpa provident facilis aut facere corrupti adipisci rem fugiat, maxime odio aliquid illum eveniet eos cupiditate modi ullam, optio placeat fugit!
				</div>
			</div>
		</li>

		<li>
			<strong class="review__info-type">Площадь объекта:</strong>

			<div class="review__info-value">
				120 кв.м
			</div>
		</li>

		<div class="review__text">
			Выражаю огромную благодарность бригаде (в составе: Киселева С.В., Пульдас С.В., Тимофеева В.О.) и руководству Тюменской Фасадно-Кровельной Компании за отлично проделанную работу по монтажу покрытия сайдингом дачного домика. Работа произведена на высоком профессиональном уровне, все пожелания заказчика выполнялись с пониманием и хорошим качеством. Ребята обладают всеми человеческими качествами необходимыми <br> при работе с капризными заказчиками.
		</div>
	</ul>
</div>