<section class="services">
	<div class="container">
		<h2 class="services__title">
			Наши услуги
		</h2>
	
		<div class="services__previews _services">
			<div class="service-preview">
				<div class="service-preview__inner" style="background-image: url('./img/services/spreview1.png');">
					<a href="#" class="service-preview__title">
						Монтаж фасада
					</a>
		
					<div class="service-preview__descr">
						Монтаж сайдинга, <br> утепления, обрешетки, карнизов
					</div>
		
					<a href="#" class="g-link">
						Об услуге
		
						<span class="g-link__icon">
							<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.75405 2.06716C8.57694 1.88386 8.28218 1.88386 8.09889 2.06716C7.92178 2.24426 7.92178 2.53902 8.09889 2.71571L11.4209 6.03775H0.458654C0.203112 6.03817 0 6.24128 0 6.49682C0 6.75236 0.203112 6.96208 0.458654 6.96208H11.4209L8.09889 10.2779C7.92178 10.4612 7.92178 10.7564 8.09889 10.9331C8.28218 11.1164 8.57736 11.1164 8.75405 10.9331L12.8625 6.82461C13.0458 6.6475 13.0458 6.35274 12.8625 6.17605L8.75405 2.06716Z" fill="#DD2D1F"></path>
							</svg>
						</span>
					</a>
				</div>
			</div>

			<div class="service-preview">
				<div class="service-preview__inner" style="background-image: url('./img/services/spreview2.png');">
					<a href="#" class="service-preview__title">
						Кровельные работы
					</a>
		
					<div class="service-preview__descr">
						Строительство крыш с нуля. Монтаж кровли, водостоков, снегозадержаталей, утепление
					</div>
		
					<a href="#" class="g-link">
						Об услуге
		
						<span class="g-link__icon">
							<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.75405 2.06716C8.57694 1.88386 8.28218 1.88386 8.09889 2.06716C7.92178 2.24426 7.92178 2.53902 8.09889 2.71571L11.4209 6.03775H0.458654C0.203112 6.03817 0 6.24128 0 6.49682C0 6.75236 0.203112 6.96208 0.458654 6.96208H11.4209L8.09889 10.2779C7.92178 10.4612 7.92178 10.7564 8.09889 10.9331C8.28218 11.1164 8.57736 11.1164 8.75405 10.9331L12.8625 6.82461C13.0458 6.6475 13.0458 6.35274 12.8625 6.17605L8.75405 2.06716Z" fill="#DD2D1F"></path>
							</svg>
						</span>
					</a>
				</div>
			</div>

			<div class="service-preview">
				<div class="service-preview__inner" style="background-image: url('./img/services/spreview3.png');">
					<a href="#" class="service-preview__title">
						Монтаж забора
					</a>
		
					<div class="service-preview__descr">
						Установка столбов, <br> ворот, калитки, <br> парапетов, колпаков
					</div>
		
					<a href="#" class="g-link">
						Об услуге
		
						<span class="g-link__icon">
							<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.75405 2.06716C8.57694 1.88386 8.28218 1.88386 8.09889 2.06716C7.92178 2.24426 7.92178 2.53902 8.09889 2.71571L11.4209 6.03775H0.458654C0.203112 6.03817 0 6.24128 0 6.49682C0 6.75236 0.203112 6.96208 0.458654 6.96208H11.4209L8.09889 10.2779C7.92178 10.4612 7.92178 10.7564 8.09889 10.9331C8.28218 11.1164 8.57736 11.1164 8.75405 10.9331L12.8625 6.82461C13.0458 6.6475 13.0458 6.35274 12.8625 6.17605L8.75405 2.06716Z" fill="#DD2D1F"></path>
							</svg>
						</span>
					</a>
				</div>
			</div>

			<div class="service-preview">
				<div class="service-preview__inner" style="background-image: url('./img/services/spreview4.png');">
					<a href="#" class="service-preview__title">
						Ремонт кровли
					</a>
		
					<div class="service-preview__descr">
						Ремонт конструкции, устранение причин <br> протечек, промерзания, конденсата
					</div>
		
					<a href="#" class="g-link">
						Об услуге
		
						<span class="g-link__icon">
							<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.75405 2.06716C8.57694 1.88386 8.28218 1.88386 8.09889 2.06716C7.92178 2.24426 7.92178 2.53902 8.09889 2.71571L11.4209 6.03775H0.458654C0.203112 6.03817 0 6.24128 0 6.49682C0 6.75236 0.203112 6.96208 0.458654 6.96208H11.4209L8.09889 10.2779C7.92178 10.4612 7.92178 10.7564 8.09889 10.9331C8.28218 11.1164 8.57736 11.1164 8.75405 10.9331L12.8625 6.82461C13.0458 6.6475 13.0458 6.35274 12.8625 6.17605L8.75405 2.06716Z" fill="#DD2D1F"></path>
							</svg>
						</span>
					</a>
				</div>
			</div>

			<div class="service-preview">
				<div class="service-preview__inner" style="background-image: url('./img/services/spreview5.png');">
					<a href="#" class="service-preview__title">
						Замер
					</a>
		
					<div class="service-preview__descr">
						Выезд замерщика <br> с многолетним опытом: расскажет все подробности монтажа, ответит на вопросы
					</div>
		
					<a href="#" class="g-link">
						Об услуге
		
						<span class="g-link__icon">
							<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.75405 2.06716C8.57694 1.88386 8.28218 1.88386 8.09889 2.06716C7.92178 2.24426 7.92178 2.53902 8.09889 2.71571L11.4209 6.03775H0.458654C0.203112 6.03817 0 6.24128 0 6.49682C0 6.75236 0.203112 6.96208 0.458654 6.96208H11.4209L8.09889 10.2779C7.92178 10.4612 7.92178 10.7564 8.09889 10.9331C8.28218 11.1164 8.57736 11.1164 8.75405 10.9331L12.8625 6.82461C13.0458 6.6475 13.0458 6.35274 12.8625 6.17605L8.75405 2.06716Z" fill="#DD2D1F"></path>
							</svg>
						</span>
					</a>
				</div>
			</div>

			<div class="service-preview">
				<div class="service-preview__inner" style="background-image: url('./img/services/spreview6.png');">
					<a href="#" class="service-preview__title">
						Рассрочка без переплаты
					</a>
		
					<div class="service-preview__descr">
						Оформление <br> беспроцентной рассрочки до 1 года на месте в офисе
					</div>
		
					<a href="#" class="g-link">
						Об услуге
		
						<span class="g-link__icon">
							<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.75405 2.06716C8.57694 1.88386 8.28218 1.88386 8.09889 2.06716C7.92178 2.24426 7.92178 2.53902 8.09889 2.71571L11.4209 6.03775H0.458654C0.203112 6.03817 0 6.24128 0 6.49682C0 6.75236 0.203112 6.96208 0.458654 6.96208H11.4209L8.09889 10.2779C7.92178 10.4612 7.92178 10.7564 8.09889 10.9331C8.28218 11.1164 8.57736 11.1164 8.75405 10.9331L12.8625 6.82461C13.0458 6.6475 13.0458 6.35274 12.8625 6.17605L8.75405 2.06716Z" fill="#DD2D1F"></path>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="g-show-more" onclick="global.toggle(this, '._services')">
			<div class="g-show-more__icon">
				<img src="./img/icons/more.svg" class="g-show-more__icon-more" alt="">
				<img src="./img/icons/less.svg" class="g-show-more__icon-less" alt="">
			</div>

			<div class="g-show-more__text">
				<span class="g-show-more__text-more">Показать еще 2 преимущества</span>
				<span class="g-show-more__text-less">Скрыть</span>
			</div>
		</div>
	</div>
</section>