<div class="social">
	<div class="social__title">
		Социальные сети:
	</div>

	<nav class="social__list">
		<a href="#" class="social__item">
			{% include "../../img/icons/fb.svg" %}
		</a>
	
		<a href="#" class="social__item">
			{% include "../../img/icons/ig.svg" %}
		</a>
	
		<a href="#" class="social__item">
			{% include "../../img/icons/yt.svg" %}
		</a>
	
		<a href="#" class="social__item">
			{% include "../../img/icons/vk.svg" %}
		</a>
	
		<a href="#" class="social__item">
			{% include "../../img/icons/vb.svg" %}
		</a>
	
		<a href="#" class="social__item">
			{% include "../../img/icons/ok.svg" %}
		</a>
	</nav>
</div>