<section class="split">
	<div class="container">
		<div class="split__wrap">
			<div class="split__inner">
				<div class="split__item">
					<div class="split__item-inner">
						<a href="#" class="split__first">
							<div class="split__text">
								<span class="split__text-initial">Фасады</span>
								<span class="split__text-sub">Материалы</span>

								<div class="split__text-icon">
									<img src="./img/icons/arrow-circle.svg" alt="">
								</div>
							</div>

							<div class="split__img"></div>
						</a>
	
						<a href="#" class="split__second">
							<div class="split__text">
								<span class="split__text-initial">Монтаж</span>
								<span class="split__text-sub">Монтаж</span>

								<div class="split__text-icon">
									<img src="./img/icons/arrow-circle.svg" alt="">
								</div>
							</div>
							<div class="split__img"></div>
						</a>
					</div>
				</div>
	
				<div class="split__item">
					<div class="split__item-inner">
						<a href="#" class="split__first">
							<div class="split__text">
								<span class="split__text-initial">Кровля</span>
								<span class="split__text-sub">Материалы</span>

								<div class="split__text-icon">
									<img src="./img/icons/arrow-circle.svg" alt="">
								</div>
							</div>

							<div class="split__img"></div>
						</a>
	
						<a href="#" class="split__second">
							<div class="split__text">
								<span class="split__text-initial">Монтаж</span>
								<span class="split__text-sub">Монтаж</span>

								<div class="split__text-icon">
									<img src="./img/icons/arrow-circle.svg" alt="">
								</div>
							</div>

							<div class="split__img"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>