<section class="split">
	<div class="container">
		<div class="split__wrap">
			<div class="split__inner">
				<a href="#" class="split__item">
					<div class="split__item-inner">
						<div class="split__first">
							<div class="split__content">
								<div class="split__text">Фасады</div>
							</div>
						</div>
	
						<div class="split__second">
							<div class="split__content">
								<div class="split__text">Монтаж</div>
							</div>
						</div>
					</div>
				</a>
	
				<a href="#" class="split__item">
					<div class="split__item-inner">
						<div class="split__first">
							<div class="split__content">
								<div class="split__text">Кровля</div>
							</div>
						</div>
	
						<div class="split__second">
							<div class="split__content">
								<div class="split__text">Монтаж</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>