<section class="suppliers">
	<div class="container">
		<h2 class="suppliers__title">
			Наши поставщики
		</h2>

		<div class="_suppliersCarousel splide">
			<div class="splide__arrows">
				<button class="splide__arrow splide__arrow--prev">
					{% include "../../img/icons/slider-arrow.svg" %}
				</button>
				<button class="splide__arrow splide__arrow--next">
					{% include "../../img/icons/slider-arrow.svg" %}
				</button>
			</div>

			<div class="splide__track">
				<div class="splide__list">
					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/ada.jpg" alt="">
					</div>

					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/fakro.jpg" alt="">
					</div>
	
					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/cedral.jpg" alt="">
					</div>

					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/grandline.jpg" alt="">
					</div>
	
					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/decover.jpg" alt="">
					</div>

					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/isobox.jpg" alt="">
					</div>
	
					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/braas.jpg" alt="">
					</div>
	
					<div class="splide__slide">
						<img data-splide-lazy="./img/suppliers/katepal.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>