body
{
	font-size: 16px;
	line-height: 1;
	color: $black;
	@include roboto;
}

ul, ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li
	{
		margin: 0;
		padding: 0;
	}
}

address
{
	font-style: normal;
}

h1, h2, h3
{
	margin-top: 0;
}

h1, h2
{
	@include roboto(bold);
	line-height: 1.45;
}

h1
{
	font-size: 30px;

}

h2
{
	font-size: 26px;
}

h3
{
	@include roboto(500);
	font-size: 20px;
	line-height: 23px;
}

h4
{
	font-size: 19px;
	line-height: 22px;
}

p
{
	line-height: 1.5;

	&:last-child
	{
		margin-bottom: 0;
	}
}

a,
a:hover,
a:active,
a:visited,
a:focus
{
	outline: 0;
	text-decoration: none;
}

.g-link, a.g-link
{
	font-size: 16px;
	color: $red;
	transition: .135s;

	&:hover
	{
		color: $red-hover;

		.g-link__icon
		{
			svg path
			{
				fill: $red-hover;
			}
		}
	}

	&:focus
	{
		color: $red-click;

		.g-link__icon
		{
			svg path
			{
				color: $red-click;
			}
		}
	}

	&--underlined
	{
		text-decoration: underline;
	}
}

.g-link__icon
{
	margin-left: 5px;

	svg path
	{
		transition: fill .135s;
	}
}



@media (max-width: 767px)
{
	h1
	{
		font-size: 22px;
	}

	.g-link, a.g-link
	{
		font-size: 13px;
	}

	.g-link__icon
	{
		position: relative;
		top: 1px;
	}
}