body
{
	font-size: 16px;
	line-height: 1;
	color: $black;
	@include roboto;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li
	{
		margin: 0;
		padding: 0;
	}
}

address
{
	font-style: normal;
}

h1, h2, h3
{
	margin-top: 0;
}

h1, h2
{
	@include roboto(bold);
	line-height: 1.45;
}

h1
{
	font-size: 30px;

}

h2
{
	font-size: 26px;
}

h3
{
	@include roboto(500);
	font-size: 20px;
	line-height: 23px;
}

p
{
	line-height: 1.5;

	&:last-child
	{
		margin-bottom: 0;
	}
}

a,
a:hover,
a:active,
a:visited,
a:focus
{
	outline: 0;
	text-decoration: none;
}

a
{
	color: $red;
}

@media (max-width: 767px)
{
	
}