{# index.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}
	{% include "./blocks/breadcrumbs.twig" %}

	<div class="container">
		<article class="article">
			<h1 class="article__title">
				Меры безопасности и во время и действия коронавирусной инфекции COVID-19
			</h1>
		
			<div class="article__date">
				14.02.2020
			</div>
		
			<picture class="article__prev-img">
				<source type="image/webp"
						data-srcset="./img/articles/article-preview.webp">
		
				<img data-src="./img/articles/article-preview.jpg" alt="" class="lazyload">
			</picture>
		
			<nav class="article__nav">
				<div class="article__nav-title">
					Содержание
				</div>
		
				<ol class="article__nav-list">
					<li>
						<a href="#">
							Основные возражения на зимний монтаж
						</a>
					</li>
		
					<li>
						<a href="#">
							Выгоды монтажа фасада и кровли зимой
						</a>
		
						<ol>
							<li>
								<a href="#">
									Выгоды монтажа фасада
								</a>
							</li>
		
							<li>
								<a href="#">
									Выгоды монтажа кровли
								</a>
							</li>
						</ol>
					</li>
		
					<li>
						<a href="#">
							Выводы и преимущества монтажа зимой
						</a>
					</li>
				</ol>
			</nav>
		
			<div class="article__content">
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу. Завтра апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
		
				<h2>
					Заголовок длинный  h2
				</h2>
		
				<picture>
					<source type="image/webp"
							data-srcset="./img/articles/article-preview.webp">
		
					<img data-src="./img/articles/article-preview.jpg" alt="" class="lazyload">
				</picture>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу. Конечно, бывают случаи, когда по объективным причинам часть строительных работ очень сложно делать в мороз: заливка фундамента, бурение земли и т.д. Но и это возможно. Что касается фасадных и кровельных работ, то тут все намного лучше. Насколько оправданы опасения? Попробуем разобраться.
				</p>
		
				<p>
					<strong>Зимой большинство людей стараются ничего не строить</strong>: холод и снег не позволят качественно произвести монтаж. Зимой большинство людей стараются ничего не строить.
				</p>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
		
				<blockquote>
					Зимой большинство людей стараются ничего не строить: холод и снег не позволят качественно произвести монтаж, весной все растает и конструкция «поплывёт».
				</blockquote>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
		
				<h3>Заголовок длинный  h3</h3>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работку в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж:
				</p>
		
				<ul>
					<li>
						<strong>Монтажники замерзнут</strong>. На самом деле монтажники одеваются тепло, по сезону. У нас нет таких монтажников, которые зимой ходят в футболках, каждый бережет свое здоровье.
					</li>
		
					<li>
						<strong>Зимой монтаж менее качественный.</strong>. Многие клиенты сомневаются в том, что в холод работы ведутся на том же уровне, что и летом: монтажники мерзнут и торопятся поскорее.
					</li>
		
					<li>
						<strong>Монтажники замерзнут</strong>. На самом деле монтажники одеваются тепло, по сезону. У нас нет таких монтажников, которые зимой ходят в футболках, каждый бережет свое здоровье.
					</li>
				</ul>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. Завтра апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
		
				<h4>Заголовок длинный  h4</h4>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж:
				</p>
		
				<ol>
					<li>
						Монтажники замерзнут. На самом деле монтажники одеваются тепло, по сезону. У нас нет таких монтажников, которые зимой ходят в футболках, каждый бережет свое здоровье.
					</li>
		
					<li>
						Зимой монтаж менее качественный. Многие клиенты сомневаются в том, что в холод работы ведутся на том же уровне, что и летом: монтажники мерзнут и торопятся поскорее.
					</li>
		
					<li>
						Монтажники замерзнут. На самом деле монтажники одеваются тепло, по сезону. У нас нет таких монтажников, которые зимой ходят в футболках, каждый бережет свое здоровье.
					</li>
				</ol>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
		
				<h2>
					Заголовок длинный  h2
				</h2>
		
				<picture class="article__float-img">
					<source type="image/webp"
							data-srcset="./img/articles/previews/article-placeholder.webp 1x,
							./img/articles/previews/article-placeholder@2x.webp 2x">
		
					<img data-srcset="./img/articles/previews/article-placeholder.jpg 1x,
								./img/articles/previews/article-placeholder@2x.jpg 2x"
							
						data-src="./img/articles/previews/article-placeholder.jpg" alt="" class="lazyload">
				</picture>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады которы выполняют монтаж. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме. С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу
				</p>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. Завтра апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
		
				<aside class="article__promo">
					<picture class="article__promo-img">
						<source type="image/webp"
								data-srcset="./img/articles/article-promo.webp 1x,
								./img/articles/article-promo@2x.webp 2x">
			
						<img data-srcset="./img/articles/article-promo.jpg 1x,
									./img/articles/article-promo@2x.jpg 2x"
								
							data-src="./img/articles/article-promo.jpg" alt="" class="lazyload">
					</picture>
		
					<a href="#" class="article__promo-btn">Читайте также</a>
		
					<div class="article__promo-text-wrap">
						<a href="#" class="article__promo-btn">Читайте также</a>
						
						<a href="#" class="article__promo-text">
							Акция! Скидка пенсионерам 10% на кровлю, а также советы по выбору кровли в загородный дом
						</a>
					</div>
				</aside>
		
				<p>
					С 13 апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу в обычном режиме: офисы открыты, осуществляется доставка, бригады выполняют монтаж. Завтра апреля 2020 года с разрешения правительства Тюменской области мы возобновили работу.
				</p>
			</div>
		
			<aside class="article__share">
				<div class="article__share-text">
					<strong>Понравилась статья?</strong> Поделитесь с друзьями!
				</div>
		
				<nav class="article__share-links">
					<a href="#" class="article__share-links-item">
						<img src="./img/icons/fb-white.svg" alt="">
					</a>
		
					<a href="#" class="article__share-links-item">
						<img src="./img/icons/ig-white.svg" alt="">
					</a>
		
					<a href="#" class="article__share-links-item">
						<img src="./img/icons/vk-white.svg" alt="">
					</a>
		
					<a href="#" class="article__share-links-item">
						<img src="./img/icons/ok-white.svg" alt="">
					</a>
				</nav>
			</aside>
		</article>
	</div>
{% endblock %}