{% extends "layouts/layout.twig" %}

{% block page %}
	{% include "./blocks/breadcrumbs.twig" %}

	<section class="calcs">
		<div class="container">
			<h1 class="calcs__title">
				Калькуляторы
			</h1>
	
			<div class="calcs__descr">
				<p>
					На нашем сайте вы можете использовать калькулятор кровли и калькулятор забора для того, что бы узнать, сколько будут стоить кровельные материалы и установка забора под ключ.
				</p>
	
				<p>
					Для того, что бы узнать сколько будет стоить монтаж кровли в Тюмени, монтаж сайдинга в Тюмени или монтаж забора из профнастила в Тюмени ознакомьтесь с нашим прайс-листом на фасадные и кровельные работы <a href="#" class="g-link g-link--blue">пройдя по ссылке</a>
				</p>
			</div>
	
			<div class="calcs__items">
				<div class="calcs__item">
					<div class="calcs__item-inner">
						<div class="calcs__item-title">
							Калькулятор кровли
						</div>
	
						<a href="#" class="calcs__item-btn">
							<span class="calcs__item-btn-icon">
								<img src="./img/icons/calc-white.svg" alt="">
							</span>
			
							Рассчитать
						</a>
					</div>
				</div>
	
	
				<div class="calcs__item">
					<div class="calcs__item-inner">
						<div class="calcs__item-title">
							Калькулятор фасада
						</div>
	
						<a href="#" class="calcs__item-btn">
							<span class="calcs__item-btn-icon">
								<img src="./img/icons/calc-white.svg" alt="">
							</span>
			
							Рассчитать
						</a>
					</div>
				</div>
	
	
				<div class="calcs__item">
					<div class="calcs__item-inner">
						<div class="calcs__item-title">
							Калькулятор забора
						</div>
	
						<a href="#" class="calcs__item-btn">
							<span class="calcs__item-btn-icon">
								<img src="./img/icons/calc-white.svg" alt="">
							</span>
			
							Рассчитать
						</a>
					</div>
				</div>
	
			</div>
		</div>
	</section>
{% endblock %}