{% extends "layouts/layout.twig" %}

{% block page %}
	{% include "./blocks/breadcrumbs.twig" %}

	<article class="contacts">
		<div class="container">
			<h1 class="contacts__title">
				Контакты
			</h1>
			
			<div class="contacts__header">
				<div class="g-select _select">
					<button class="g-select__btn _selectBtn">Офис №1</button>
	
					<ul class="g-select__dropdown _selectDropdown">
						<li class="g-select__option _selectOption" data-nav-for="contacts-1">Офис №1</li>
						<li class="g-select__option _selectOption" data-nav-for="contacts-2">Офис №2</li>
					</ul>
				</div>

				<div class="contacts__offices">
					<div class="contacts__office is-active" data-nav-for="contacts-1">
						<div class="contacts__office-title">
							Офис №1
						</div>

						<ul class="contacts__office-info">
							<li>
								<strong>
									Адрес:
								</strong>

								<span>
									г. Тюмень, ул. Циолковского, 15а
								</span>
							</li>

							<li>
								<strong>
									Телефон:
								</strong>

								<a href="tel:+73452578617">
									8 (3452) 57-86-17
								</a>
							</li>

							<li>
								<strong>
									Email:
								</strong>

								<span>
									tfkk@yandex.ru
								</span>
							</li>

							<li>
								<strong>
									Режим <br> работы:
								</strong>

								<span>
									Пн-Пт	09:00 - 18:00 <br>
									Сб	09:00 - 15:00 <br>
									Вс	Выходной
								</span>
							</li>
						</ul>
					</div>

					<div class="contacts__office" data-nav-for="contacts-2">
						<div class="contacts__office-title">
							Офис №2
						</div>

						<ul class="contacts__office-info">
							<li>
								<strong>
									Адрес:
								</strong>

								<span>
									г. Тюмень, ул. Республики, д.207, офис 1
								</span>
							</li>

							<li>
								<strong>
									Телефон:
								</strong>

								<a href="tel:+73452578617">
									8 (3452) 57-86-17
								</a>
							</li>

							<li>
								<strong>
									Email:
								</strong>

								<span>
									tfkk@yandex.ru
								</span>
							</li>

							<li>
								<strong>
									Режим <br> работы:
								</strong>

								<span>
									Пн-Пт	09:00 - 18:00 <br>
									Сб	09:00 - 15:00 <br>
									Вс	Выходной
								</span>
							</li>
						</ul>
					</div>

					
				</div>

				<div class="contacts__common">
					{% include "./blocks/social.twig" %}

					<div class="contacts__adv">
						<div class="contacts__adv-title">Для рекламных предложений:</div>
						<a href="tel:+79829316157" class="contacts__adv-number">8 (982) 931-61-57</a>
					</div>
				</div>
			</div>

			<div class="contacts__tab is-active" data-tab="contacts-1">
				<div class="contacts__office is-active">
					<div class="contacts__office-title">
						Офис №1
					</div>

					<ul class="contacts__office-info">
						<li>
							<strong>
								Адрес:
							</strong>

							<span>
								г. Тюмень, ул. Циолковского, 15а
							</span>
						</li>

						<li>
							<strong>
								Телефон:
							</strong>

							<a href="tel:+73452578617">
								8 (3452) 57-86-17
							</a>
						</li>

						<li>
							<strong>
								Email:
							</strong>

							<span>
								tfkk@yandex.ru
							</span>
						</li>

						<li>
							<strong>
								Режим <br> работы:
							</strong>

							<span>
								Пн-Пт	09:00 - 18:00 <br>
								Сб	09:00 - 15:00 <br>
								Вс	Выходной
							</span>
						</li>
					</ul>
				</div>
				<div class="contacts__map">
					<iframe data-src="https://yandex.ru/map-widget/v1/-/CCQ~vLEY~B" allowfullscreen="true" class="lazyload"></iframe>
				</div>
			</div>

			<div class="contacts__tab" data-tab="contacts-2">
				<div class="contacts__office is-active">
					<div class="contacts__office-title">
						Офис №2
					</div>

					<ul class="contacts__office-info">
						<li>
							<strong>
								Адрес:
							</strong>

							<span>
								г. Тюмень, ул. Республики, д.207, офис 1
							</span>
						</li>

						<li>
							<strong>
								Телефон:
							</strong>

							<a href="tel:+73452578617">
								8 (3452) 57-86-17
							</a>
						</li>

						<li>
							<strong>
								Email:
							</strong>

							<span>
								tfkk@yandex.ru
							</span>
						</li>

						<li>
							<strong>
								Режим <br> работы:
							</strong>

							<span>
								Пн-Пт	09:00 - 18:00 <br>
								Сб	09:00 - 15:00 <br>
								Вс	Выходной
							</span>
						</li>
					</ul>
				</div>
				<div class="contacts__map">
					<iframe data-src="https://yandex.ru/map-widget/v1/-/CCQ~vLEY~B" allowfullscreen="true" class="lazyload"></iframe>
				</div>
			</div>

			<div class="contacts__common">
				{% include "./blocks/social.twig" %}

				<div class="contacts__adv">
					<div class="contacts__adv-title">Для рекламных предложений:</div>
					<a href="tel:+79829316157" class="contacts__adv-number">8 (982) 931-61-57</a>
				</div>
			</div>

			<section class="contacts__company">
				<h2 class="g-title-tertiary">
					Реквизиты компании
				</h3>
	
				<div class="contacts__company-info">
					<ul class="contacts__company-list">
						<li>
							Наименование: ООО «Тюменская Фасадно-Кровельная Компания»
						</li>
		
						<li>
							ИНН: 7204124529
						</li>
		
						<li>
							КПП: 720301001
						</li>
		
						<li>
							Юридический адрес: 625019 Г. Тюмень, ул. Республики 207 офис 102а
						</li>
		
						<li>
							ОГРН: 1087232022085
						</li>
					</ul>
		
					<ul class="contacts__company-list">
						<li>
							Расчетный счет: 40702810167100006395
						</li>
		
						<li>
							БИК: 047102651
						</li>
		
						<li>
							Банк: Филиал ОАО «Западно-Сибирский банк Сбербанка» г.Тюмень
						</li>
		
						<li>
							Генеральный директор Фараносов Владимир Александрович
						</li>
					</ul>
				</div>
			</section>
		</div>
	</article>
{% endblock %}