{% extends "layouts/layout.twig" %}

{% block page %}
	{% include "./blocks/breadcrumbs.twig" %}
	<div class="product _product">
		<div class="container">
			<h1 class="product__title">
				Черепица Технониколь Shinglas Фазенда коричневая
			</h1>

			<div class="product__main">
				<div class="product__gallery">
					<div class="product__img">
						<div class="product__action">
							Акция
						</div>
						<div class="_productSlider product__slider splide">
							<div class="splide__arrows splide__arrows--product">
								<button class="splide__arrow splide__arrow--prev">
									{% include "../img/icons/slider-arrow-white.svg" %}
								</button>
								<button class="splide__arrow splide__arrow--next">
									{% include "../img/icons/slider-arrow-white.svg" %}
								</button>
							</div>

							<div class="splide__track">
								<div class="splide__list">
									{% for item in 0..1 %}
										<div class="splide__slide">
											<img data-splide-lazy="./img/productSlide1.jpg" alt="">
										</div>

										<div class="splide__slide">
											<img data-splide-lazy="./img/productSlide2.jpg" alt="">
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					<div class="_productThumbs product__thumbs splide">
						<div class="splide__arrows splide__arrows--centered-always">
							<button class="splide__arrow splide__arrow--prev">
								{% include "../img/icons/slider-arrow-white.svg" %}
							</button>
							<button class="splide__arrow splide__arrow--next">
								{% include "../img/icons/slider-arrow-white.svg" %}
							</button>
						</div>

						<div class="splide__track">
							<ul class="splide__list">
								{% for item in 0..1 %}
									<li class="splide__slide">
										<img src="./img/productThumb1.jpg">
									</li>

									<li class="splide__slide">
										<img src="./img/productThumb2.jpg">
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="product__equipment">
						<div class="product__equipment-title">
							При покупке вы получите:
						</div>

						<span>
							<strong>Инструкцию</strong> по правильной сборке
						</span>

						<hr>

						<span>
							<strong>Бесплатную консультацию</strong> менеджера по правильному монтажу материала
						</span>
					</div>
				</div>

				<div class="product__details">
					<div class="product__details-top">
						<div class="product-price">
							<div class="product-price__current">
								от <span class="product-price__current-val">586</span> руб./м2
							</div>

							<div class="product-price__old">
								658 руб./м2
							</div>

							<div class="product-price__note">
								*Цена действительна при покупке от 100 кв.м.
							</div>
						</div>

						<div class="product__equipment">
							<div class="product__equipment-title">
								При покупке вы получите:
							</div>

							<span>
								<strong>Инструкцию</strong> по правильной сборке
							</span>

							<hr>

							<span>
								<strong>Бесплатную консультацию</strong> менеджера по правильному монтажу материала
							</span>
						</div>
					</div>

					<div class="product__thickness">
						<div class="product__subtitle">
							Толщины:
						</div>

						<ul class="product__thickness-list">
							<li>
								<span class="product__thickness-type">
									0,4 мм
								</span>

								<div class="product__thickness-price">
									<span class="product__thickness-price-cur">
										547 руб./м2
									</span>

									<span class="product__thickness-price-old">
										550 руб./м2
									</span>
								</div>
							</li>

							<li>
								<span class="product__thickness-type">
									0,45 мм
								</span>

								<div class="product__thickness-price">
									<span class="product__thickness-price-cur">
										564 руб./м2
									</span>

									<span class="product__thickness-price-old">
										550 руб./м2
									</span>
								</div>
							</li>

							<li>
								<span class="product__thickness-type">
									0,5 мм
								</span>

								<div class="product__thickness-price">
									<span class="product__thickness-price-cur">
										644 руб./м2
									</span>

									<span class="product__thickness-price-old">
										650 руб./м2
									</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="product__modifiers">
						<div class="product__subtitle">
							Модификация товара:
						</div>

						<div class="product-thumbs">
							<ul class="product-thumbs__list">
								<li class="product-thumb is-active" role="button" tabindex="0">
									<img src="./img/thumb1.jpg" alt="Thumbnail 01">
								</li>
								{% for item in 0..1 %}
									<li class="product-thumb" role="button" tabindex="0">
										<img src="./img/thumb2.jpg" alt="Thumbnail 02">
									</li>

									<li class="product-thumb" role="button" tabindex="0">
										<img src="./img/thumb1.jpg" alt="Thumbnail 01">
									</li>

									<li class="product-thumb" role="button" tabindex="0">
										<img src="./img/thumb2.jpg" alt="Thumbnail 02">
									</li>

									<li class="product-thumb" role="button" tabindex="0">
										<img src="./img/thumb1.jpg" alt="Thumbnail 01">
									</li>

									<li class="product-thumb" role="button" tabindex="0">
										<img src="./img/thumb2.jpg" alt="Thumbnail 02">
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="product__btns">
				<button class="g-btn-compare">
					<span class="g-btn-compare__icon">
						{% include "../img/icons/stats.svg" %}
					</span>

					Сравнить
				</button>
				<button class="g-btn" onclick="global.popups.showPopup('.popup__calc')">
					<span class="g-btn__icon">
						<img src="./img/icons/calc-btn-icon.svg" alt="">
					</span>
					Быстрый расчет
				</button>

				<button class="g-btn-transp" onclick="global.popups.showPopup('.popup__mounting')">Заказать монтаж</button>
			</div>

			<section class="product__section">
				<h2 class="product__section-title">
					Фото объектов
				</h2>

				<div class="_productPhotoCarousel product__photo-carousel splide">
					<div class="splide__arrows splide__arrows--centered">
						<button class="splide__arrow splide__arrow--prev">
							{% include "../img/icons/slider-arrow.svg" %}
						</button>
						<button class="splide__arrow splide__arrow--next">
							{% include "../img/icons/slider-arrow.svg" %}
						</button>
					</div>

					<div class="splide__track">
						<div class="splide__list">
							{% for item in 0..1 %}
								<div class="splide__slide">
									<img data-splide-lazy="./img/productcar1.jpg" alt="">
								</div>

								<div class="splide__slide">
									<img data-splide-lazy="./img/productcar2.jpg" alt="">
								</div>

								<div class="splide__slide">
									<img data-splide-lazy="./img/productcar3.jpg" alt="">
								</div>

								<div class="splide__slide">
									<img data-splide-lazy="./img/productcar4.jpg" alt="">
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>

			<section class="product__section">
				<div class="g-tabs-nav">
					<button class="g-tabs-nav__btn is-active" data-nav-for="product-1">
						О товаре
					</button>

					<button class="g-tabs-nav__btn" data-nav-for="product-2">
						Покрытия
					</button>

					<button class="g-tabs-nav__btn" data-nav-for="product-3">
						Характеристики
					</button>

					<button class="g-tabs-nav__btn" data-nav-for="product-4">
						Состав коллекции
					</button>

					<button class="g-tabs-nav__btn" data-nav-for="product-5">
						Описание
					</button>

					<button class="g-tabs-nav__btn" data-nav-for="product-6">
						Документация
					</button>
				</div>

				<div class="product__tab-trg mobile-only is-active" onclick="global.toggle(this)">
					О товаре
				</div>

				<div class="product__tab is-active" data-tab="product-1">
					<section class="product__descr">
						<h3 class="product__descr-title">
							Описание
						</h3>

						<div class="product__descr-text _productDescr">
							<p>
								Черепица гибкая Технониколь Shinglas Фазенда коричневая  Черепица Технониколь Фазенда – это штучный битумосодержащий, двухслойный кровельный материал. Изготавливается нарезанием листов из рулонного материала, получаемого путем пропитки и покрытия стекловолокнистой основы битумным вяжущим Черепица гибкая Технониколь Shinglas Фазенда коричневая  Черепица Технониколь...
							</p>
						</div>

						<a href="#" class="g-link g-link--blue">Читать далее</a>
					</section>


					<section class="product__chars">
						<h3 class="product__chars-title">Характеристики</h3>

						<div class="product__tables">
							<div class="product__tables-column">
								<div class="g-table">
									<div class="g-table__row">
										<span class="g-table__row-name">Бренд</span>

										<span class="g-table__row-value">Технониколь</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Количество слоев</span>

										<span class="g-table__row-value">2</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Основа</span>

										<span class="g-table__row-value">Стеклохолст</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Толщина</span>

										<span class="g-table__row-value">1000 м</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Длина</span>

										<span class="g-table__row-value">2,4 мм</span>
									</div>
								</div>
							</div>

							<div class="product__tables-column">
								<div class="g-table">
									<div class="g-table__row">
										<span class="g-table__row-name">Форма нарезки</span>

										<span class="g-table__row-value">Драконий зуб</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Цвет</span>

										<span class="g-table__row-value">Коричневый</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Оттенок</span>

										<span class="g-table__row-value">Дуб золотой</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Коллекция</span>

										<span class="g-table__row-value">Под бревно</span>
									</div>

									<div class="g-table__row">
										<span class="g-table__row-name">Рисунок</span>

										<span class="g-table__row-value">Фазенда</span>
									</div>
								</div>
							</div>
						</div>

						<a href="#" class="g-link g-link--blue">Все характеристики</a>
					</section>

					<div class="prop-cards">
						<div class="prop-card">
							<div class="prop-card__inner" style="background-image: url('./img/prop1.svg');">
								<div class="prop-card__title">
									Материалы в офисе
								</div>

								<div class="prop-card__descr">
									Возможность увидеть вживую материалы в офисе до покупки, чтобы не платить за кота в мешке
								</div>
							</div>
						</div>

						<div class="prop-card">
							<div class="prop-card__inner" style="background-image: url('./img/prop2.svg');">
								<div class="prop-card__title">
									Закажем и оплатим такси
								</div>

								<div class="prop-card__descr">
									Такси от дома до офиса и обратно. Пенсионерам <br> и инвалидам гарантируем такси также при покупке.
								</div>
							</div>
						</div>

						<div class="prop-card">
							<div class="prop-card__inner" style="background-image: url('./img/prop3.svg');">
								<div class="prop-card__title">
									Выезд замерщика
								</div>

								<div class="prop-card__descr">
									Для точного расчета материалов нужно снимать много доп. мерок — наш замерщик сделает все необходимое.
								</div>
							</div>
						</div>

						<div class="prop-card">
							<div class="prop-card__inner" style="background-image: url('./img/prop4.svg');">
								<div class="prop-card__title">
									Выкупим лишнее
								</div>

								<div class="prop-card__descr">
									Если после монтажа остался лишний материал (целый), мы вернем вам <br> за него деньги в полном объеме.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product__tab-trg mobile-only" onclick="global.toggle(this)">
					Покрытия
				</div>

				<div class="product__tab" data-tab="product-2">
					<div class="product-cover">
						<div class="product-cover__items">
							<div class="product-cover__item is-active">
								<div class="product-cover__item-img">
									<img src="./img/thumb2.jpg" alt="" class="lazyloaded">
								</div>

								<span class="product-cover__item-name">
									Пуретан
								</span>
							</div>
							{% for item in 0..6 %}
								<div class="product-cover__item">
									<div class="product-cover__item-img">
										<img src="./img/thumb2.jpg" alt="" class="lazyloaded">
									</div>

									<span class="product-cover__item-name">
										Пуретан
									</span>
								</div>
							{% endfor %}
						</div>

						<div class="product-cover__descr">
							<img src="./img/cover-img-min.jpg" alt="" lazyloaded>

							<h3>Описание покрытия</h3>

							<p>
								Полиэстер является полимерным покрытием. Его толщина имеет показатель в 25 мм. Цинковый слой колеблется в пределах от 100 до 120 грамм на метр2. Использование представленного материала для проведения строительных работ достаточно популярно. <br>
								В первую очередь это связанно с его практичность и дешевизной.
							</p>

							<p>
								Глянцевая поверхность материала способна выдержать атмосферные воздействия и излучение ультрафиолетом. Но несмотря на ряд существующих плюсов(соотношение стоимости и качества), существуют и существенные минусы. К примеру материал недостаточно устойчив механическим нагрузкам.
							</p>

							<p>
								Поэтому к процессу транспортировки ответственно и аккуратно, а при проведении строительных необходимо соблюдать установленные нормы и рекомендации. Работа с материалом в условиях эксплуатационной нагрузки или загрязненной окружающей среды крайне нежелательна. Соблюдая все рекомендации материал прослужит от 10 до 30 лет.
							</p>

							<p>
								Гарантийное обслуживание, вне зависимости от компании производителя и прочих характеристик колеблется в пределах от 1 до 15 лет. Полиэстер покрывается полиэфирной краской. Именно поэтому выбрать подходящий цветовой вариант не составит труда. Все будет зависеть от предпочтений и фантазии пользователя. При этом качество материала останется неизменным, вне зависимости от его окраски. При этом качество материала останется неизменным, вне зависимости от его окраски.
							</p>
						</div>

						<section class="product-cover-colors">
							<h3 class="product-cover-colors__title">
								Варианты цветов для покрытия Полиэстер
							</h3>

							<div class="product-cover-colors__list">
								{% for item in 0..6 %}
									<div class="product-cover-colors__item">
										<div class="product-cover-colors__item-color" style="background-color: #EFD7AB;"></div>
										<div class="product-cover-colors__item-code">
											RAL 1014
										</div>
										<div class="product-cover-colors__item-name">
											Слоновая кость
										</div>
									</div>

									<div class="product-cover-colors__item">
										<div class="product-cover-colors__item-color" style="background-color: #8A1214;"></div>
										<div class="product-cover-colors__item-code">
											RAL 3003
										</div>
										<div class="product-cover-colors__item-name">
											Чистый оранжевый
										</div>
									</div>

									<div class="product-cover-colors__item">
										<div class="product-cover-colors__item-color" style="background-color: #FFD64E;"></div>
										<div class="product-cover-colors__item-code">
											RAL 1018
										</div>
										<div class="product-cover-colors__item-name">
											Желтый цинк
										</div>
									</div>
								{% endfor %}
							</div>
						</section>
					</div>
				</div>

				<div class="product__tab-trg mobile-only" onclick="global.toggle(this)">
					Характеристики
				</div>

				<div class="product__tab" data-tab="product-3">
					<div class="product__tables">
						<div class="product__tables-column">
							<div class="product__table-title g-title-tertiary">
								Общие
							</div>

							<div class="g-table">
								<div class="g-table__row">
									<span class="g-table__row-name">Бренд</span>

									<span class="g-table__row-value">Технониколь</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Количество слоев</span>

									<span class="g-table__row-value">2</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Основа</span>

									<span class="g-table__row-value">Стеклохолст</span>
								</div>
							</div>

							<div class="product__table-title g-title-tertiary">
								Размеры
							</div>

							<div class="g-table">
								<div class="g-table__row">
									<span class="g-table__row-name">Толщина</span>

									<span class="g-table__row-value">0,4  0,45  0,5 мм</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Длина</span>

									<span class="g-table__row-value">2,4 мм</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Высота</span>

									<span class="g-table__row-value">107 мм</span>
								</div>
							</div>

							<div class="product__table-title g-title-tertiary">
								Прочее
							</div>

							<div class="g-table">
								<div class="g-table__row">
									<span class="g-table__row-name">Срок службы</span>

									<span class="g-table__row-value">30 лет</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Водонепроницаемость</span>

									<span class="g-table__row-value">100%</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Теплостойкость</span>

									<span class="g-table__row-value">110 С</span>
								</div>
							</div>
						</div>
						<div class="product__tables-column">
							<div class="product__table-title g-title-tertiary">
								Внешний вид
							</div>

							<div class="g-table">
								<div class="g-table__row">
									<span class="g-table__row-name">Бренд</span>

									<span class="g-table__row-value">Драконий зуб</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Цвет</span>

									<span class="g-table__row-value">Коричневый</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Оттенок</span>

									<span class="g-table__row-value">Дуб золотой</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Коллекция</span>

									<span class="g-table__row-value">Под бревно</span>
								</div>

								<div class="g-table__row">
									<span class="g-table__row-name">Рисунок</span>

									<span class="g-table__row-value">Фазенда</span>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="product__tab-trg mobile-only" onclick="global.toggle(this)">
					Состав коллекции
				</div>

				<div class="product__tab" data-tab="product-4">
					<section class="product__collection">
						<h3 class="product__collection-title">
							Черепица Технониколь Shinglas Фазенда
						</h3>

						{% include "./blocks/collection-carousel.twig" %}
					</section>
				</div>

				<div class="product__tab-trg mobile-only" onclick="global.toggle(this)">
					Описание
				</div>

				<div class="product__tab" data-tab="product-5">
					<section class="product__descr">
						<h3 class="product__descr-title">
							Описание Черепица Технониколь Shiglas Фазенда
						</h3>

						<p>
							Черепица Технониколь Фазенда – это штучный битумосодержащий, двухслойный кровельный материал. Изготавливается нарезанием листов из рулонного материала, получаемого путем пропитки и покрытия стекловолокнистой основы битумным вяжущим с последующим нанесением различных видов защитных покрытий и склейкой двух листов разной формы. Уникальные рецептурные разработки позволили создать двухслойный продукт стандартного американского качества.

						</p>

						<p>
							Классическая палитра, выполненная из разноцветной базальтовой посыпки с добавлением антрацита, эффектно подчеркивает линии популярной формы нарезки «драконий зуб». Идеальное соотношение «цена/качество» с гарантией 20 лет.
						</p>

						<h4>Особенности гибкой черепицы Технониколь Фазенда:</h4>

						<ul>
							<li>
								двухслойная;
							</li>

							<li>
								улучшенный кровельный битум;
							</li>

							<li>
								снижает уровень шума;
							</li>

							<li>
								простота монтажа;
							</li>

							<li>
								гарантийный срок службы – 20 лет.
							</li>
						</ul>

						<p>
							Гибкая черепица Технониколь Фазенда применяется в качестве основного кровельного покрытия, при угле наклона ската от 120 до отрицательных углов. Рисунок готовой кровли хаотичный. Пленку при монтаже удалять не требуется. <br> Рисунок готовой кровли хаотичный. Пленку при монтаже удалять не требуется.

						</p>
					</section>
				</div>

				<div class="product__tab-trg mobile-only" onclick="global.toggle(this)">
					Документация
				</div>

				<div class="product__tab" data-tab="product-6">
					<div class="product-docs">
						<div class="product-doc">
							<div class="product-doc__inner">
								<div class="product-doc__top">
									<div class="product-doc__icon">
										<img src="./img/file.svg" alt="">
									</div>

									<div class="product-doc__text">
										<div class="product-doc__type">
											Инструкция
										</div>

										<div class="product-doc__name">
											Инструкция по монтажу кровельной системы
										</div>
									</div>
								</div>

								<div class="product-doc__bottom">
									<a href="#" class="product-doc__open">
										<img src="./img/link.svg" alt="">
									</a>

									<a href="#">
										<img src="./img/download.svg" alt="">
									</a>
								</div>
							</div>
						</div>

						<div class="product-doc">
							<div class="product-doc__inner">
								<div class="product-doc__top">
									<div class="product-doc__icon">
										<img src="./img/file.svg" alt="">
									</div>

									<div class="product-doc__text">
										<div class="product-doc__type">
											Инструкция
										</div>

										<div class="product-doc__name">
											Инструкция по транспортировке и хранению черепицы
										</div>
									</div>
								</div>

								<div class="product-doc__bottom">
									<a href="#" class="product-doc__open">
										<img src="./img/link.svg" alt="">
									</a>

									<a href="#">
										<img src="./img/download.svg" alt="">
									</a>
								</div>
							</div>
						</div>

						<div class="product-doc">
							<div class="product-doc__inner">
								<div class="product-doc__top">
									<div class="product-doc__icon">
										<img src="./img/cert.svg" alt="">
									</div>

									<div class="product-doc__text">
										<div class="product-doc__type">
											Сертификаты
										</div>

										<div class="product-doc__name">
											Сертификат соответствия на металлочерепицу по ГОСТ
										</div>
									</div>
								</div>

								<div class="product-doc__bottom">
									<a href="#" class="product-doc__open">
										<img src="./img/link.svg" alt="">
									</a>

									<a href="#">
										<img src="./img/download.svg" alt="">
									</a>
								</div>
							</div>
						</div>

						<div class="product-doc">
							<div class="product-doc__inner">
								<div class="product-doc__top">
									<div class="product-doc__icon">
										<img src="./img/gramota.svg" alt="">
									</div>

									<div class="product-doc__text">
										<div class="product-doc__type">
											Гарантии
										</div>

										<div class="product-doc__name">
											Гарантийные обязательства на изделия ТФКК
										</div>
									</div>
								</div>

								<div class="product-doc__bottom">
									<a href="#" class="product-doc__open">
										<img src="./img/link.svg" alt="">
									</a>

									<a href="#">
										<img src="./img/download.svg" alt="">
									</a>
								</div>
							</div>
						</div>

						<div class="product-doc">
							<div class="product-doc__inner">
								<div class="product-doc__top">
									<div class="product-doc__icon">
										<img src="./img/album.svg" alt="">
									</div>

									<div class="product-doc__text">
										<div class="product-doc__type">
											Альбомы технических решений
										</div>

										<div class="product-doc__name">
											АТР по кровельной системе
										</div>
									</div>
								</div>

								<div class="product-doc__bottom">
									<a href="#" class="product-doc__open">
										<img src="./img/link.svg" alt="">
									</a>

									<a href="#">
										<img src="./img/download.svg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="products">
				<h2 class="product__section-title">
					Черепица длинная категория
				</h2>

				<div class="product__preview-list">
					<div class="product__preview">
						{% include "./blocks/product-preview.twig" %}
					</div>

					<div class="product__preview">
						{% include "./blocks/product-preview.twig" %}
					</div>
				</div>
			</div>

			<div class="products">
				<h2 class="product__section-title">
					Рекомендуем также
				</h2>
				<div class="_productsCarousel splide products__carousel">
					<div class="splide__arrows">
						<button class="splide__arrow splide__arrow--prev">
							{% include "../img/icons/slider-arrow.svg" %}
						</button>
						<button class="splide__arrow splide__arrow--next">
							{% include "../img/icons/slider-arrow.svg" %}
						</button>
					</div>

					<div class="splide__track">
						<div class="splide__list">
							{% for i in 0..7 %}
								<div class="splide__slide">
									{% include "./blocks/product-preview.twig" %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="products">
				<h2 class="product__section-title">
					Недавно просмотренные
				</h2>

				<div class="product__preview-list">
					<div class="product__preview">
						{% include "./blocks/product-preview.twig" %}
					</div>

					<div class="product__preview">
						{% include "./blocks/product-preview.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}